<div>
    <p>Ask your coach anything:</p>
  <div class="ml-3">
    <form action="/answer" data-turbo="false" method="get" class="input-group w-auto">
      <input class="form-control w-25" type="text" name="question">
      <input class="btn btn-primary" type="submit" value="Ask!">
    </form>
  </div>
</div>
