<div class="ms-3 container">
    <p>Ask your coach anything:</p>
  <div class="row">
    <form action="/answer" data-turbo="false" method="get" class="input-group w-auto col-8">
      <input class="form-control w-25" type="text" name="question">
      <input class="btn btn-primary" type="submit" value="Ask!">
    </form>
  </div>
</div>
